@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #0D1117;
    padding: 0rem;
}

.logo-icon{
    height: 100px;
    width: 130px;
    scale: 0.90;
    margin-top: 10px;
} 


.header-content{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}

.nav{
    display: flex;
    gap: 8rem;
}

.nav-link{
    color: white;
    font-family: 'Inter', sans-serif;
}
.search-results{
    margin-top: 10px;
    grid-template-columns: 1fr;
}
.card-search {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 50px;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  }
  
.join-header{
    color: white;
    border: 1px solid;
    border-color: #644E8B;
    border-radius: 0.400rem;
    background-color: #0D1117;
    padding: 0.30rem 1.7rem;
    font-size: 0.9rem;
    font-weight: 600;
    transition: box-shadow 0.3s ease;
}

.join-header:hover{
    box-shadow: 0 2px 20px rgba(241, 119, 233, 0.5);
}


.container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: space-around;
}



.text-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.hero-label{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: white;
}

.hero-desc{
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    margin-top: 10px;
    color: #BCB6B6;
}
.searchBox {
    margin-top: 20px;
    display: flex;
    max-width: 500px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    width: 480px;
    padding: 24px 46px 24px 26px;
    border-radius: 10px;
  }
  
  
.hero-button{
    color: white;
    border: 1px solid;
    border-color: #644E8B;
    border-radius: 0.400rem;
    background-color: #0D1117;
    padding: 0.60rem 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 26px;
    transition: box-shadow 0.3s ease;
}


.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.hero-button:hover{
    box-shadow: 0 2px 20px rgba(241, 119, 233, 0.5);
    cursor: pointer;
}
.group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width: 100%;
}


.features{
    display: flex;
    flex-direction: column;
}

.feature{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    /* position: relative;  */
}

.ball-green {
    
    height: 3vh;
    width: 3vh;
    border: 2px solid #3EB74F;
    border-radius: 360px;
    background-color: #3EB74F;
   
    
    /* transform: translateY(-50%);  */
    /* right: 500px; */
    
    
     
    
}

.line-green {
    border-left: 2px solid #3EB74F;
    border-image: linear-gradient(360deg, rgba(247,120,186,1) 0%, rgba(198,136,201,1) 0.5%, rgba(62,183,79,1) 100%);
    border-image-slice: 1;
    height: 90vh;
    
}


.feature-1-image{
    max-width: 400px;
    max-height: 300px;
    
}


.feature-1-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.feature-1-label{
    font-family: 'Poppins', sans-serif;
    color: #3EB74F;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    
}
@media screen and (max-width:1023px) {
    .feature-1-label{
        font-family: 'Poppins', sans-serif;
        color: #3EB74F;
        font-size: 1.7rem;
        margin-bottom: 30px;  
    }
    .feature-1-image{
        max-width: 250px;
        max-height: 200px;    
    }
    .hero-label{
        font-size: 1.7rem;
    }
}
.feature-1-desc{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-align: justify;
    margin: 20px;
    
    
}
.ball-pink {
    height: 3vh;
    width: 3vh;
    border: 2px solid #F778BA;
    border-radius: 360px;
    background-color: #F778BA;
}

.line-pink {
    border-left: 2px solid #F778BA;
    border-image: linear-gradient(360deg, rgba(51,179,174,1) 0%, rgba(88,199,195,1) 0.5%, rgba(247,120,186,1) 100%);
    border-image-slice: 1;
    height: 90vh;
    
}
.ball-cyan {
    height: 3vh;
    width: 3vh;
    border: 2px solid #33B3AE;
    border-radius: 360px;
    background-color: #33B3AE;
}

.line-cyan {
    border-left: 2px solid #33B3AE;
    height: 90vh;
    
}

.collab-feature{
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 70px;
}

.collab-feature-heading{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 260px;
}

.feature-cards{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 70px;
}

.join-project-img{
    margin-top: 140px;
    height: 70px;
    width: 65px;
    margin-left: 90px;
}

.join-project-desc{
    font-family: 'Inter', sans-serif;
    color: #BCB6B6;
    margin-top: 40px;
    font-size: 1.4rem;
}

.assign-task-img{
    margin-top: 150px;
    height: 60px;
    width: 48px;
    margin-left: 135px;
}

.assign-task-desc{
    font-family: 'Inter', sans-serif;
    color: #BCB6B6;
    margin-top: 42px;
    font-size: 1.4rem;
}

.reward-img{
    margin-top: 150px;
    height: 60px;
    width: 48px;
    margin-left: 80px;
}

.reward-desc{
    font-family: 'Inter', sans-serif;
    color: #BCB6B6;
    margin-top: 42px;
    font-size: 1.4rem;
}


.contact{
    margin-top: 250px;
}

.contact-container{
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;
}

.contact-heading{
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: left;
    margin-left: 90px;
    font-size: 2rem;

}

.contact-content{
    color: white;
    font-size:1rem;
    margin-top: 30px;
    text-align: left;
    margin-left: 90px;
    
}

.contact-desc{
    margin-top: 30px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    color: white;
    /* margin-right: 200px; */
    padding: 20px;
    margin-top: 30px;
}

input[type="text"]::placeholder {
    color: #000000; 
}

input[type="text"] {
    background-color: #ffffff; 
    color: #000000;
    padding: 8px;
}

#name{
    height: 15px;
    width: 350px;
}

#email{
    height: 15px;
    width: 350px;
}

#message{
    height: 100px;
    width: 350px;
}

.submit-btn{
    margin-top: 50px;
    /* width: 20px; */
    color: white;
    border: 1px solid;
    border-color: #644E8B;
    border-radius: 0.400rem;
    background-color: #0D1117;
    padding: 0.40rem 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    transition: box-shadow 0.3s ease;
}

.submit-btn:hover{
    box-shadow: 0 2px 20px rgba(241, 119, 233, 0.5);
    cursor: pointer;
}


.polygon-1{
    scale: 0.70;
    position: absolute;
    margin-top: 40px;
    margin-left: 270px;
}

.rectangle-1{
    scale:0.75;
    position: absolute;
    margin-top: -110px;
    margin-left: -750px;
}

.polygon-2{
    scale:0.70;
    position: absolute;
    margin-left: 687px;
}

hr{
    border-color: #555981;
    margin-top: 166px;
}




.footer{
    height: 6vh;
    display: flex;
    width: inherit;
    justify-content: space-between;
    /* gap: 40rem; */
    /* max-width: 1024px; */
}

.footer-logo{
    height: 150px;
    width:  150px;
    margin: 10px;
    
    
}

.social{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    
}
.social-head{
    color: white;
    margin-left: 30px;
    padding: 4px;
    
    font-family: 'Inter', sans-serif;
    font-size:1rem;
}

.social-icons{
    display: flex;
    flex-direction: row;
    height: 28px;
    width: 28px;
    /* justify-content: center; */
}

.footer-hr{
    border-color: #555981;
}

.trademark{
    color: #BCB6B6;
    font-family: 'Inter', sans-serif;
    text-align:left;
    margin-left:20px;
    margin-top: 7px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}